<div class="datagrid"><form id="w0" class="form-horizontal" action="/member/register?PLAYBOOK=YES" method="post">
<input type="hidden" name="_csrf" value="VlBtbkw0N0ghHhwnOm18GyACPCI/RXMHZhRbAgJiZBgRZx4WAHNWHQ=="><table width="50%" align="center"><tbody><tr><td align="center"><div class="form-group field-memberform-email required">
<label class="col-lg-1 control-label" for="memberform-email">Member ID</label> <div class="col-lg-3"><input type="text" id="memberform-email" class="form-control" name="MemberForm[email]" placeholder="Enter Email address"></div>
<div class="col-lg-8"><div class="help-block"></div></div>
</div></td></tr><tr><td align="center"><div class="form-group field-memberform-password required">
<label class="col-lg-1 control-label" for="memberform-password">Password</label> <div class="col-lg-3"><input type="text" id="memberform-password" class="form-control" name="MemberForm[password]"></div>
<div class="col-lg-8"><div class="help-block"></div></div>
</div></td></tr><tr><td align="center"><div class="form-group field-memberform-first_name required">
<label class="col-lg-1 control-label" for="memberform-first_name">First Name</label> <div class="col-lg-3"><input type="text" id="memberform-first_name" class="form-control" name="MemberForm[first_name]"></div>
<div class="col-lg-8"><div class="help-block"></div></div>
</div></td></tr><tr><td align="center"><div class="form-group field-memberform-last_name required">
<label class="col-lg-1 control-label" for="memberform-last_name">Last Name</label> <div class="col-lg-3"><input type="text" id="memberform-last_name" class="form-control" name="MemberForm[last_name]"></div>
<div class="col-lg-8"><div class="help-block"></div></div>
</div></td></tr><tr><td align="center"><div class="form-group field-memberform-address1 required">
<label class="col-lg-1 control-label" for="memberform-address1">Address1</label> <div class="col-lg-3"><input type="text" id="memberform-address1" class="form-control" name="MemberForm[address1]"></div>
<div class="col-lg-8"><div class="help-block"></div></div>
</div></td></tr><tr><td align="center"><div class="form-group field-memberform-address2">
<label class="col-lg-1 control-label" for="memberform-address2">Address2</label> <div class="col-lg-3"><input type="text" id="memberform-address2" class="form-control" name="MemberForm[address2]"></div>
<div class="col-lg-8"><div class="help-block"></div></div>
</div></td></tr><tr><td align="center"><div class="form-group field-memberform-city required">
<label class="col-lg-1 control-label" for="memberform-city">City</label> <div class="col-lg-3"><input type="text" id="memberform-city" class="form-control" name="MemberForm[city]"></div>
<div class="col-lg-8"><div class="help-block"></div></div>
</div></td></tr>
<tr>
  <td align="center"><div class="form-group field-memberform-state required">
    <label class="col-lg-1 control-label" for="memberform-state">State</label>
    <div class="col-lg-3">
      <input type="text" id="memberform-state" class="form-control" name="MemberForm[state]">
    </div>
    <div class="col-lg-8">
      <div class="help-block"></div>
    </div>
  </div></td>
</tr>
<tr>
  <td align="center"><div class="form-group field-memberform-postal required">
    <label class="col-lg-1 control-label" for="memberform-postal2">Postal</label>
    <div class="col-lg-3">
      <input type="text" id="memberform-postal2" class="form-control" name="MemberForm[postal]">
    </div>
    <div class="col-lg-8">
      <div class="help-block"></div>
    </div>
  </div></td>
</tr>
<tr>
  <td align="center"><div class="form-group field-memberform-country">
    <label class="col-lg-1 control-label" for="memberform-country2">Country</label>
    <div class="col-lg-3">
      <input type="text" id="memberform-country2" class="form-control" name="MemberForm[country]">
    </div>
    <div class="col-lg-8">
      <div class="help-block"></div>
    </div>
  </div></td>
</tr>
<tr>
  <td align="center"><div class="form-group field-memberform-day_phone">
    <label class="col-lg-1 control-label" for="memberform-day_phone2">Day Phone</label>
    <div class="col-lg-3">
      <input type="text" id="memberform-day_phone2" class="form-control" name="MemberForm[day_phone]">
    </div>
    <div class="col-lg-8">
      <div class="help-block"></div>
    </div>
  </div></td>
</tr>
<tr>
  <td align="center"><div class="form-group field-memberform-eve_phone">
    <label class="col-lg-1 control-label" for="memberform-eve_phone2">Eve Phone</label>
    <div class="col-lg-3">
      <input type="text" id="memberform-eve_phone2" class="form-control" name="MemberForm[eve_phone]">
    </div>
    <div class="col-lg-8">
      <div class="help-block"></div>
    </div>
  </div></td>
</tr>
<tr><td align="center"><button type="submit">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="reset">Start Over</button></td></tr></tbody></table></form></div>





