@charset "UTF-8";
/* CSS Document */
body {background:url(http://www.playbook.com/images/header-bg.gif) left top repeat-x #fff;}
* { margin:0; padding:0;}
input, select, textarea { font-family:Tahoma, Geneva, sans-serif; font-size:1em;}

.wrapper { width:100%; overflow:hidden;}
.container { width:100%;}
.container2 { width:100%;}
.container3 { width:100%;}
.container4 { width:97%; margin-left:10px;}
.container5 { width:97%; margin-left:10px; padding:2px;}
.container6 { width:97%; margin-left:4px;}
.container7 { width:99%; margin-left:4px;}
.container8 { width:100%; margin-left:4px;}
.container9 { width:98%;}
.container10 { width:70%; margin-left:80px}

.container {width:950px; margin:0 auto; }
.container2 {
    width:647px;
    margin:0 auto;
    float: left;
}
.container3 {
    width:350px;
    margin:0 auto;
    float: right;
}

.container4 {
    width:1000px;
    margin:0 auto;

}



#header {height:134px; background:url(http://www.playbook.com/images/header-bg.gif) left top repeat-x #fff; }
#header, #content, #extra-content, #footer { font-size:0.75em;}

.col-1, .col-2, .col-3,.col-4, .col-5, col-8, .col-9 { float:left;}

/*======= index.html =======*/
#page1 #content .col-1 {width:302px; margin-right:22px;}
#page1 #content .col-2 {width:302px; margin-right:22px;}
#page1 #content .col-3 {width:302px;}
#page1 #content .col-4 {
    width:625px;
    margin-right:22px;
}
#page1 #content .col-5 {
    width:302px;
}

#page1 #content .col-5a {
    width:292px;
}

#page1 #content .col-5b {
    width: 342px;
    float: right;
    vertical-align: text-top;
    position: relative;
    top: auto;
}

#page1 #content .col-6 {
    width:625px;
    margin-right:2px;
}
#page1 #content .col-7 {
    width:625px; float:right;

}

#page1 #content .col-8 {
    width:675px; float:right;margin-left:22px;
}

#page1 #content .col-9 {
    width:675px;
    margin-right:12px;
}

#page1 #content .col-9a {
    width:655px;
    margin-right:4px;
}

#page1 #content .col-9 {
    width:685px;
    margin-right:4px;
}

#page1 #content .col-10 {
    width:312px;

}

#page1 #extra-content .col-1 {width:464px; margin-right:22px;}
#page1 #extra-content .col-2 {width:464px;}

#page2 #content .col-1 {width:302px; margin-right:22px;}
#page2 #content .col-2 {width:302px; margin-right:22px;}
#page2 #content .col-3 {width:302px;}
#page2 #extra-content .col-1 {width:464px; margin-right:22px;}
#page2 #extra-content .col-2 {width:464px;}


/*======= index-2.html =======*/
#page3 #content .col-1 {width:302px; margin-right:22px;}
#page3 #content .col-2 {width:302px; margin-right:22px;}
#page3 #content .col-3 {width:302px;}

/*======= index-4.html =======*/
#page5 #content .col-1 {width:302px; margin-right:22px;}
#page5 #content .col-2 {width:626px;}

/*======= index-5.html =======*/
#page6 #content .col-1 {width:302px; margin-right:22px;}
#page6 #content .col-2 {width:302px; margin-right:22px;}
#page6 #content .col-3 {width:302px;}


/*=========================*/


#footer {background:url(http://www.playbook.com/images/footer-bg.gif) left top repeat-x #717171;}

/*==================txt, links, lines, titles====================*/
.trebuchet13 { font-weight: normal; color: #000000; font-size: 13px; font-family: trebuchet ms }
.verdana14brd { font-weight: bold; color: #880000; font-size: 14px; font-family: Verdana }
.verdana14bnavy { font-weight: bold; color: navy; font-size: 14px; font-family: Verdana }
.verdana18 { font-weight: normal; font-size: 18px; font-family: Verdana }
.verdana18b { font-weight: bold; font-size: 18px; font-family: Verdana }
.verdana22b { font-weight: bold; font-size: 22px; font-family: Verdana }
.verdana18brd { font-weight: bold; color: #880000; font-size: 18px; font-family: Verdana }
.verdana18bnavy { font-weight: bold; color: navy; font-size: 18px; font-family: Verdana }
.verdana24 { font-weight: normal; font-size: 24px; font-family: Verdana }
.verdana24b { font-weight: bold; font-size: 24px; font-family: Verdana }
.verdana24brd {
    font-weight: bold;
    color: #880000;
    font-size: 24px;
    font-family: Verdana
}
.verdana24blu {
    font-weight: bold;
    color: navy;
    font-size: 24px;
    font-family: Verdana
}
.verdana24b {
    font-weight: bold;
    color: black;
    font-size: 24px;
    font-family: Verdana
}

.verdana32b {
    font-weight: bold;
    color: black;
    font-size: 32px;
    font-family: Verdana
}

.verdana40b {
    font-weight: bold;
    color: black;
    font-size: 40px;
    font-family: Verdana
}

.verdana32blu {
    font-weight: bold;
    color: navy;
    font-size: 32px;
    font-family: Verdana
}
.verdana32brd {
    font-weight: bold;
    color: #880000;
    font-size: 32px;
    font-family: Verdana
}
.verdana48brd {
    font-weight: bold;
    color: #880000;
    font-size: 48px;
    font-family: Verdana
}

.topnav_trebuchet10B   { color: #1d1d1d; font-style: normal; font-size: 10px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet10B:active   { color: #1d1d1d; font-style: normal; font-size: 10px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet10B:visited   { color: #1d1d1d; font-style: normal; font-size: 10px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet10B:hover   { color: #1d1d1d; font-style: normal; font-size: 10px; font-family: trebuchet ms; font-weight: bold; text-decoration: underline; }

.topnav_trebuchet10Bred   { color: maroon; font-style: normal; font-size: 10px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet10Bred:active   { color: maroon; font-style: normal; font-size: 10px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet10Bred:visited   { color: maroon; font-style: normal; font-size: 10px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet10Bred:hover   { color: maroon; font-style: normal; font-size: 10px; font-family: trebuchet ms; font-weight: bold; text-decoration: underline; }

.topnav_trebuchet11Bred   { color: maroon; font-style: normal; font-size: 11px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet11Bred:active   { color: maroon; font-style: normal; font-size: 11px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet11Bred:visited   { color: maroon; font-style: normal; font-size: 11px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet11Bred:hover   { color: maroon; font-style: normal; font-size: 11px; font-family: trebuchet ms; font-weight: bold; text-decoration: underline; }


.topnav_trebuchet14   { color: #515151; font-style: normal; font-size: 14px; font-family: trebuchet ms; font-weight: normal; text-decoration: none  }
.topnav_trebuchet14:active   { color: #515151; font-style: normal; font-size: 14px; font-family: trebuchet ms; font-weight: normal; text-decoration: none  }
.topnav_trebuchet14:visited   { color: #515151; font-style: normal; font-size: 14px; font-family: trebuchet ms; font-weight: normal; text-decoration: none  }
.topnav_trebuchet14:hover   { color: #515151; font-style: normal; font-size: 14px; font-family: trebuchet ms; font-weight: normal; text-decoration: underline; }

.topnav_trebuchet12   { color: #1d1d1d; font-style: normal; font-size: 12px; font-family: trebuchet ms; font-weight: normal; text-decoration: none  }
.topnav_trebuchet12:active   { color: #1d1d1d; font-style: normal; font-size: 12px; font-family: trebuchet ms; font-weight: normal; text-decoration: none  }
.topnav_trebuchet12:visited   { color: #1d1d1d; font-style: normal; font-size: 12px; font-family: trebuchet ms; font-weight: normal; text-decoration: none  }
.topnav_trebuchet12:hover   { color: #1d1d1d; font-style: normal; font-size: 12px; font-family: trebuchet ms; font-weight: normal; text-decoration: underline; }

.topnav_trebuchet12w   { color: #fff; font-style: normal; font-size: 12px; font-family: trebuchet ms; font-weight: normal; text-decoration: none  }
.topnav_trebuchet12w:active   { color: #fff; font-style: normal; font-size: 12px; font-family: trebuchet ms; font-weight: normal; text-decoration: none  }
.topnav_trebuchet12w:visited   { color: #fff; font-style: normal; font-size: 12px; font-family: trebuchet ms; font-weight: normal; text-decoration: none  }
.topnav_trebuchet12w:hover   { color: #fff; font-style: normal; font-size: 12px; font-family: trebuchet ms; font-weight: normal; text-decoration: underline; }


.topnav_trebuchet11B   { color: #1d1d1d; font-style: normal; font-size: 11px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet11B:active   { color: #1d1d1d; font-style: normal; font-size: 11px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet11B:visited   { color: #1d1d1d; font-style: normal; font-size: 11px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet11B:hover   { color: #1d1d1d; font-style: normal; font-size: 11px; font-family: trebuchet ms; font-weight: bold; text-decoration: underline; }

.topnav_trebuchet12B   { color: #1d1d1d; font-style: normal; font-size: 12px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet12B:active   { color: #1d1d1d; font-style: normal; font-size: 12px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet12B:visited   { color: #1d1d1d; font-style: normal; font-size: 12px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet12B:hover   { color: #1d1d1d; font-style: normal; font-size: 12px; font-family: trebuchet ms; font-weight: bold; text-decoration: underline; }

.topnav_trebuchet12Bred   { color: maroon; font-style: normal; font-size: 12px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet12Bred:active   { color: maroon; font-style: normal; font-size: 12px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet12Bred:visited   { color: maroon; font-style: normal; font-size: 12px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet12Bred:hover   { color: maroon; font-style: normal; font-size: 12px; font-family: trebuchet ms; font-weight: bold; text-decoration: underline; }


.topnav_trebuchet12Bnavy   { color: navy; font-style: normal; font-size: 12px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet12Bnavy:active   { color: navy; font-style: normal; font-size: 12px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet12Bnavy:visited   { color: navy; font-style: normal; font-size: 12px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet12Bnavy:hover   { color: navy; font-style: normal; font-size: 12px; font-family: trebuchet ms; font-weight: bold; text-decoration: underline; }


.topnav_trebuchet14B   { color: #1d1d1d; font-style: normal; font-size: 14px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet14B:active   { color: #1d1d1d; font-style: normal; font-size: 14px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet14B:visited   { color: #1d1d1d; font-style: normal; font-size: 14px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet14B:hover   { color: #1d1d1d; font-style: normal; font-size: 14px; font-family: trebuchet ms; font-weight: bold; text-decoration: underline; }

.topnav_trebuchet14Bnavy   { color: navy; font-style: normal; font-size: 14px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet14Bnavy:active   { color: navy; font-style: normal; font-size: 14px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet14Bnavy:visited   { color: navy; font-style: normal; font-size: 14px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet14Bnavy:hover   { color: navy; font-style: normal; font-size: 14px; font-family: trebuchet ms; font-weight: bold; text-decoration: underline; }

.topnav_trebuchet24Bnavy   { color: navy; font-style: normal; font-size: 24px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet24Bnavy:active   { color: navy; font-style: normal; font-size: 24px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet24Bnavy:visited   { color: navy; font-style: normal; font-size: 24px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet24Bnavy:hover   { color: navy; font-style: normal; font-size: 24px; font-family: trebuchet ms; font-weight: bold; text-decoration: underline; }

.topnav_trebuchet24Bwhite   { color: white; font-style: normal; font-size: 24px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet18Bwhite   { color: white; font-style: normal; font-size:18px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet16Bwhite   { color: white; font-style: normal; font-size: 16px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet14Bwhite   { color: white; font-style: normal; font-size: 14px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }


.topnav_trebuchet18B   { color: #1d1d1d; font-style: normal; font-size: 18px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet18B:active   { color: #1d1d1d; font-style: normal; font-size: 18px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet18B:visited   { color: #1d1d1d; font-style: normal; font-size: 18px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet18B:hover   { color: #1d1d1d; font-style: normal; font-size: 18px; font-family: trebuchet ms; font-weight: bold; text-decoration: underline; }

.topnav_trebuchet18Bnavy   { color: navy; font-style: normal; font-size: 18px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet18Bnavy:active   { color: navy; font-style: normal; font-size: 18px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet18Bnavy:visited   { color: navy; font-style: normal; font-size: 18px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet18Bnavy:hover   { color: navy; font-style: normal; font-size: 18px; font-family: trebuchet ms; font-weight: bold; text-decoration: underline; }

.topnav_trebuchet18Bred   { color: maroon; font-style: normal; font-size: 18px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet18Bred:active   { color: maroon; font-style: normal; font-size: 18px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet18Bred:visited   { color: maroon; font-style: normal; font-size: 18px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet18Bred:hover   { color: maroon; font-style: normal; font-size: 18px; font-family: trebuchet ms; font-weight: bold; text-decoration: underline; }

.topnav_trebuchet14Bred   { color: maroon; font-style: normal; font-size: 14px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet14Bred:active   { color: maroon; font-style: normal; font-size: 14px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet14Bred:visited   { color: maroon; font-style: normal; font-size: 14px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.topnav_trebuchet14Bred:hover   { color: maroon; font-style: normal; font-size: 14px; font-family: trebuchet ms; font-weight: bold; text-decoration: underline; }

.trebuchet14B   { color: #1d1d1d; font-style: normal; font-size: 14px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.trebuchet14B:active   { color: #1d1d1d; font-style: normal; font-size: 14px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.trebuchet14B:visited   { color: #1d1d1d; font-style: normal; font-size: 14px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.trebuchet14B:hover   { color: #1d1d1d; font-style: normal; font-size: 14px; font-family: trebuchet ms; font-weight: bold; text-decoration: underline; }

.trebuchet14Bred   { color: maroon; font-style: normal; font-size: 14px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.trebuchet14Bred:active   { color: maroon; font-style: normal; font-size: 14px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.trebuchet14Bred:visited   { color: maroon; font-style: normal; font-size: 14px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.trebuchet14Bred:hover   { color: maroon; font-style: normal; font-size: 14px; font-family: trebuchet ms; font-weight: bold; text-decoration: underline; }

.trebuchet14BW   { color: white; font-style: normal; font-size: 14px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.trebuchet14BW:active   { color: white; font-style: normal; font-size: 14px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.trebuchet14BW:visited   { color: white; font-style: normal; font-size: 14px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.trebuchet14BW:hover   { color: white; font-style: normal; font-size: 14px; font-family: trebuchet ms; font-weight: bold; text-decoration: underline; }


.trebuchet14Bnavy   { color: navy; font-style: normal; font-size: 14px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.trebuchet14Bnavy:active   { color: navy; font-style: normal; font-size: 14px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.trebuchet14Bnavy:visited   { color: navy; font-style: normal; font-size: 14px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }


.trebuchet18B   { color: #1d1d1d; font-style: normal; font-size: 18px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.trebuchet18B:active   { color: #1d1d1d; font-style: normal; font-size: 18px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.trebuchet18B:visited   { color: #1d1d1d; font-style: normal; font-size: 18px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.trebuchet18B:hover   { color: #1d1d1d; font-style: normal; font-size: 18px; font-family: trebuchet ms; font-weight: bold; text-decoration: underline; }

.trebuchet18Bred   { color: maroon; font-style: normal; font-size: 18px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.trebuchet18Bred:active   { color: maroon; font-style: normal; font-size: 18px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.trebuchet18Bred:visited   { color: maroon; font-style: normal; font-size: 18px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.trebuchet18Bred:hover   { color: maroon; font-style: normal; font-size: 18px; font-family: trebuchet ms; font-weight: bold; text-decoration: underline; }


.trebuchet24Bnavy   { color: navy; font-style: normal; font-size: 24px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.trebuchet24Bnavy:active   { color: navy; font-style: normal; font-size: 24px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.trebuchet24Bnavy:visited   { color: navy; font-style: normal; font-size: 24px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.trebuchet24Bnavy:hover   { color: navy; font-style: normal; font-size: 24px; font-family: trebuchet ms; font-weight: bold; text-decoration: underline; }


.trebuchet24Bred   { color: maroon; font-style: normal; font-size: 24px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.trebuchet24Bred:active   { color: maroon; font-style: normal; font-size: 24px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.trebuchet24Bred:visited   { color: maroon; font-style: normal; font-size: 24px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.trebuchet24Bred:hover   { color: maroon; font-style: normal; font-size: 24px; font-family: trebuchet ms; font-weight: bold; text-decoration: underline; }

.trebuchet24B   { font-style: normal; font-size: 24px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.trebuchet24B:active   { font-style: normal; font-size: 24px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.trebuchet24B:visited   {  font-style: normal; font-size: 24px; font-family: trebuchet ms; font-weight: bold; text-decoration: none  }
.trebuchet24B:hover   { ; font-style: normal; font-size: 24px; font-family: trebuchet ms; font-weight: bold; text-decoration: underline; }


/*  Manage pick expiration appearance  */
.expiresinLongtime {
    display: none
}
.expiresin120 {
     font-family: Trebuchet MS;
     font-weight: bold;
     color: Blue
 }
.expiresin10 {
    font-family: Trebuchet MS;
    color: Maroon
}

.price-bold {
    font-family: Trebuchet MS;
    font-size: 12px;
    font-weight: bold;
}

a {color:#2cb6e9; outline:none; text-decoration:none;}
a:hover{text-decoration:none;}

h1 { font-size:3em; line-height:1em; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#fff; font-weight:normal; letter-spacing:-1px; width:600px; margin-bottom:42px;}
h2 { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:22px; line-height:1em; font-weight:normal; margin-bottom:23px; color:#515151;}
h2.alt { letter-spacing:-1px;}
h3 { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:22px; line-height:1em; font-weight:normal; color:#515151; margin-bottom:4px;}
h4 { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; font-weight:normal; color:#b3b1b1; float:right; }
h4 strong { font-size:1.1em; color:#2cb6e9; display:block;}
h5 { font-size:1em; margin-bottom:5px;}
h6 { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:22px; line-height:1em; font-weight:normal; color:#515151; margin-bottom:2px;}
h7 { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; line-height:1em; font-weight:normal; color:#b3b1b1;}
h8 { font-size:28px; line-height:1em; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#fff; font-weight:normal; letter-spacing:-1px; width:600px; margin-bottom:12px;}
h9 { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:22px; line-height:1em; font-weight:normal; color:#515151; margin-bottom:4px;}
h10 { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:22px; line-height:1em; font-weight:normal; margin-bottom:23px; color:#515151;}
.txt1 { color:#2cb6e9;}
h11 { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:22px; line-height:1em; font-weight:normal; margin-bottom:23px; color:#515151;}
h12 { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:16px; line-height:1.5em; font-weight:normal; margin-top:23px; color:#b3b1b1;}
h13 { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:22px; line-height:1.5em; font-weight:normal; margin-bottom:23px; color:#515151;}
h14 { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:18px; line-height:1.5em; font-weight:normal; margin-bottom:23px; color:#515151;}
h15 { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:1.25em; color:#333333; line-height:1.1em;}
h16 { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:16px; line-height:1.5em; font-weight:normal; margin-top:23px; color:#1d1d1d;}

/*==================boxes====================*/
.box { background:url(http://www.playbook.com/images/box-bg.gif) left top repeat-x; width:100%;}
.box .border-top {background:url(http://www.playbook.com/images/border.gif) repeat-x top;}
.box .border-bot {background:url(http://www.playbook.com/images/border.gif) repeat-x bottom;}
.box .border-left {background:url(http://www.playbook.com/images/border.gif) repeat-y left;}
.box .border-right {background:url(http://www.playbook.com/images/border.gif) repeat-y right;}
.box .left-top-corner {background:url(http://www.playbook.com/images/left-top-corner.gif) no-repeat left top;}
.box .right-top-corner {background:url(http://www.playbook.com/images/right-top-corner.gif) no-repeat right top;}
.box .left-bot-corner {background:url(http://www.playbook.com/images/left-bot-corner.gif) no-repeat left bottom; width:100%;}
.box .right-bot-corner {background:url(http://www.playbook.com/images/right-bot-corner.gif) no-repeat right bottom; }
.box .inner { padding:27px 35px 30px 34px;}
.box .inner2 { padding:8px 5px 10px 10px;}
.box .inner3 { padding:0px 0px 0px 0px;}

.box1 { background:#ededed; width:100%;}
.box1 .border-top {background:url(http://www.playbook.com/images/border-top.gif) repeat-x top;}
.box1 .border-bot {background:url(http://www.playbook.com/images/border-bot.gif) repeat-x bottom;}
.box1 .border-left {background:url(http://www.playbook.com/images/border-left.gif) repeat-y left;}
.box1 .border-right {background:url(http://www.playbook.com/images/border-right.gif) repeat-y right;}
.box1 .left-top-corner {background:url(http://www.playbook.com/images/left-top-corner2.gif) no-repeat left top;}
.box1 .right-top-corner {background:url(http://www.playbook.com/images/right-top-corner2.gif) no-repeat right top;}
.box1 .left-bot-corner {background:url(http://www.playbook.com/images/left-bot-corner2.gif) no-repeat left bottom; width:100%;}
.box1 .right-bot-corner {background:url(http://www.playbook.com/images/right-bot-corner2.gif) no-repeat right bottom; }
.box1 .inner { padding:27px 35px 30px 34px;}

.dept-list { float:left;}
.dept-list dd { clear:both; text-align:right;}
.dept-list dd span { float:left; padding-right:25px;}
.dept-list dd p { text-align:left;}